<% @contents.all.each do |content|
%>
        <div >
          <table><tr>

            <td><%= content.text %></td>
            <td><%= link_to 'auswählen', content %></td>

          </tr>
          </table>
        </div>
<%end %>
<%= link_to 'New Location', new_content_path %>

