<table> <tr>

  <td><%= Content.find(@contentperpage.content_id).text %></td></tr><td>

  <td>Verbundung trennen:<%= link_to image_tag('delete.png', height: '20', width: '20'), @contentperpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</td>


  </tr>
</table>




<%= link_to image_tag('back.png', height: '20', width: '20'),  contentperpages_path(:menu => @contentperpage.menu_id) %>
